html { 
  background: url(tomato.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#upperbox{
    list-style-type: none;
    margin: 0;
    padding: 15px;
    width: 100%;
    height: 45px;
    overflow: hidden;
 	border-style: solid;
    background-color:rgba(233,247,153,0.5);

}

#upperbox1{
    list-style-type: none;
    margin: 0;
    padding: 15px;
    width: 100%;
    height: 45px;
    overflow: hidden;
  border-style: solid;
    background-color:rgba(255,255,255,0.5);

}


#lowerbox {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-color:rgba(255,255,255,0.5);


}

#leftbox {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-color:rgba(255,255,255,0.5);
    border-style: solid;


}

#dishnamebox {
    list-style-type: none;
    margin: 0;
    
    width: 100%;
    height: 25px;
    overflow: hidden;
    left:0px;
    border-style: solid;


}
#centerbox {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-color:rgba(255,255,255,0.5);
    border-style: solid;


}
hr{
    border: 0;
    height: 1px;
    background: #333;
    
}
#centerupperbox {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-color:rgba(233,247,153,0.5);
    border-style: solid;



}


#confirmdinnerbutton{
	background-color:orange;
	width: 50%;
  height: 50px;
	

}

#keywordbutton{
  background-color:orange;
  width: 90px;
  height: 22px;
  left:5px;
  

}

#select{
width:200px
}


a {
	color: white;
    display: block;
    padding: 8px;

}


#dishname{
    height:10%;
}



#topbox{
	float:left;
	height:50%;
	background-color: transparent;
	width:100%;
	
}

form{
	color: white;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 50px;

}




#ul{
	float:right;

}

