.body { 
  background: url(tomato.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

html {
	overflow: hidden;
}

.banner{
	border-style: solid;
	height:20%;
	width: 100%;
	padding: 20px;
	


}
.myDinnerBanner{
	border-style: solid;
	height:15%;
	width: 100%;


	background-color:rgba(233,247,153,0.5);

}
h1 {
	margin-left: 20px;
}
h2 {

}

.main{

	height: 80%;
	background-color:rgba(233,247,153,0.5);
	padding-left: 0;
}

.myDinner {

	
	padding-right: 0;
	padding-left: 10px;
	background-color:rgba(233,247,153,0.5);
	height: 80%;
	border-style: solid;
	margin: 0;
	
}

#myDin {
	padding-left: 5px;
}

.selectDish{
	border-style: solid;
	height:27%;
	background-color:rgba(233,247,153,0.5);
	padding-left: 20px;
	margin: 0;

}

.dishName {
	background-color: gray;
	width: 100%;
}

.X{
	width: 5px;
	height:17px;
}

.Xtext{
	padding-right: 10px;
}

#paddyDish{
	padding-right: 0px;

}


.tabell {
	width: 110%;
	margin-bottom: 0;


}

.sektabell {
	margin-bottom: 15%;
}

.people {
	padding-left: 5px;

}

.pending {

}

hr {
	border-color: black;
	margin: 0;
}

#SEK{
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

.btn-warning {
	text-align: right;
}
#btn {
	padding-left: 35%;
}
.keywords{
	padding-left: 0;
	padding-right: 0;
	margin-top: 20px;
}

.keywordsbtn{
	margin-top: 20px;
	
	margin-right: 0;
	margin-left: 23px;
}

#dropMain {
	margin-top: 20px;
	background-color: white;
	color:black;
}
.select{
	/*margin-left: 15px;*/
}
.images{
	margin: 20px;
	overflow-y: scroll;
	height: 310px;
}
.image{
	padding: 0;
	margin: 40px;
}

.dinnerImage{
	display: inline-block;
	
}

.food {
	width: 85px;
}
.foodImage {
	padding: 0;
	height: 150%;
}
.enterkeywords {
	margin-right: 20px;
}
h3{
	font-family: Verdana;

}
#bestChefs {
	padding-left: 40px;
	font-size: 26px;

}

.ingridients {
	border-style: solid;
	/*background-color: #f0ad4e;*/
	background-color: rgba(233,247,153,0.5);
	height: 45%;
	width: 36%;
	margin-left: 60px;


}

#imagetext{
	padding-left: 3px;

}

.totalCost{
padding-right: 35px;
}

.ingridientConfirm{
	padding-top: 12px;
	padding-left: 0;
}
 

.chosenCourse{
	overflow-y: scroll;
	height:130%;
	border-style: solid;
	width: 82%; /*????*/

}

.wrapper{
    width: 500px;
    padding-top:8%;
   	padding-bottom: 50%;
    padding-left: 12px;
    position: absolute;
  
    top: 53%;
    left: 0;
    width: 100%;
    height: 100px;
}

.backbutton{
	padding-top: 12px;
	padding-left: 12px;
	
	position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    height: 100px;

}

.goBackDinnerButton{

margin-left: 85%;
margin-top: 20px;
margin-bottom: 25%;

top: 58%;
	
    
}

.printDinnerButton{
	margin-top: 20px;
	margin-bottom: 25%;
}

.mychosenDinner{

	margin-left: 0%;
	margin-right:0%;
	height: 70%;
	
}
#cent {
	
	
}



.mydinner4ppl{
	padding-top: 0px;
	position: absolute;
    top: 10%;
}

.hline{
	
	margin-bottom: 0px;
}

.verticalLine {
    border-left: thick solid black;
    float: left;
    height: 50%;
    margin-top: 20px;
    width: 20%;
    
}

.finalDinners{
	background-color:;
	height: 30%;

}

.finalDinnerText{

}

.textNextToImage{
	margin-top: 10%;
	padding-right: 30%;
}

.Sum{
padding-top: 90%;
}

#sumText{
	padding: 1px;
	margin: 0;
}

.prepText{
	float: left;
}

.prepInstructions{
	background-color:;
	height:100%;
	float: left;
	padding-top: 5px;
	}

.finalDinnerImage{
	float: left;
	margin-top: 25px;

}

.finalDinnerText{
	float: left;
	margin-top: 20px;
}
.finalDinnerTextP{
	padding: 0;
	margin: 0;
}

#upDown {
	width: 20px;
	padding: 0;
	float: right;
}

.glypicon {
	padding: 0;
	margin: 0;
}

.btn-group {
	width: 45px;
}
